---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import GithubIcon from "../components/icons/Github.astro";
import LikedinIcon from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import TimeLine from "../components/TimeLine.astro";
import SectionContainer from "../components/SectionContainer.astro";
import EducationIcon from "../components/icons/Education.astro";
---

<Layout
  title="Luis Nivar | Porfolio • Developer • Programmer"
  description="If you wonder where is a developer who knows how offer solutions instead of pure code... I'm Luis Nivar, the man that you looking for. "
>
  <main>
    <SectionContainer id="home" class="py-20">
      <header class="flex items-center gap-4 flex-row">
        <h1 class="text-white text-5xl font-bold">
          Hi! I'm <span
            class="bg-gradient-to-r text-transparent bg-clip-text from-teal-400 via-emerald-500 to-cyan-600"
            >Luis Nivar</span
          >
        </h1>
        <a
          href="https://www.linkedin.com/in/luis-nivar/"
          target="_blank"
          rel="noopener noreferrer"><Badge>Available to work</Badge></a
        >
      </header>
      <h2 class="text-xl text-slate-300 text-pretty">
        Systems Engineer from the O&M University, Dominican Republic. I am not
        offering to fill a vacancy with another developer, but with <span
          class="text-teal-400"
        >
          somenone who knows that we create solutions to needs</span
        >, without losing focus on UX.
      </h2>

      <nav class="flex items-center gap-2">
        <SocialPill href="https://github.com/LuisNivar">
          <GithubIcon class="size-5" />
          GitHub</SocialPill
        >
        <SocialPill href="https://www.linkedin.com/in/luis-nivar/">
          <LikedinIcon class="size-5" />
          LinkedIn</SocialPill
        >
      </nav>
    </SectionContainer>
    <SectionContainer id="education">
      <h2 class="text-white text-3xl font-bold flex items-center gap-4">
        <EducationIcon class="size-10" />
        Education
      </h2>
      <TimeLine />
    </SectionContainer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    line-height: 1.6;
  }
</style>
