<a
  class="border rounded-lg bg-slate-700/20 border-slate-500 text-slate-200 transition-colors hover:bg-slate-200/10 hover:text-teal-500 flex items-center justify-center gap-3 px-4 py-1 text-base"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
